@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
  border-block: 0;
  border-inline: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  /* primary */
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  /* neutral */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 0%, 44%);
  --off-black: hsl(0, 0%, 8%);
  /* font */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-style-italic: italic;
  --heading-l-font-size: 104px;
  --result-font-size: 3.5rem;
  --heading-s-font-size: 1.25rem;
  --body-font-size: 1rem;
  --label-font-size: 0.875rem;
  --input-font-size: 1.25rem;
  --font-family: Poppins, sans-serif;
}

body {
  min-block-size: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--off-white);
  font: var(--font-weight-regular) var(--body-font-size) / normal var(--font-family);
}

.site-main {
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  container: card / inline-size;
}

.ac-card {
  inline-size: min(100%, 840px);
  padding-block: 3rem;
  padding-inline: 1.5rem;
  border-start-start-radius: 24px;
  border-start-end-radius: 24px;
  border-end-start-radius: 24px;
  border-end-end-radius: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--white);

  &__form {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &__input-group {
    inline-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;

    &--column {
      inline-size: calc(33.3% - 11px);
      max-inline-size: 160px;
      display: flex;
      flex-direction: column;
    }
  }

  &__date-input {
    block-size: 3.375rem;
    padding-block: 0.75rem;
    padding-inline-start: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    font: var(--font-weight-regular) var(--input-font-size) / normal var(--font-family);
    caret-color: var(--purple);

    &:focus-visible {
      outline-color: var(--purple);
    }
  }

  &__input-label {
    font-size: var(--label-font-size);
    font-weight: var(--font-weight-regular);
    text-transform: uppercase;
    color: var(--smokey-grey);
  }

  &__error-label {
    font-size: var(--label-font-size);
    font-weight: var(--font-weight-regular);
    font-style: var(--font-style-italic);
    color: var(--light-red);
    margin-block-start: 0.5rem;
  }

  &__btn-group {
    inline-size: 100%;
    display: flex;
    align-items: center;
  }

  &__hr-line {
    inline-size: calc(50% - 32px);
    block-size: 1px;
    background-color: var(--light-grey);
  }

  &__btn {
    inline-size: 4rem;
    block-size: 4rem;
    border-start-start-radius: 50%;
    border-start-end-radius: 50%;
    border-end-start-radius: 50%;
    border-end-end-radius: 50%;
    background-color: var(--purple);

    &:hover {
      background-color: var(--off-black);
    }
  }

  &__btn-icon {
    inline-size: 1.5rem;
    block-size: 1.5rem;
  }

  &__age-result {
    inline-size: 100%;
    font: var(--font-weight-extra-bold) var(--font-style-italic) var(--result-font-size) / normal var(--font-family);
    letter-spacing: -1.12px;

    &--number {
      color: var(--purple);
    }
  }
}

@container card (inline-size > 561px) {
  .ac-card {
    &__hr-line {
      inline-size: calc(100% - 64px);
      &--right {
        display: none;
      }
    }
  }
}

.attribution {
  inline-size: 100%;
}